<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      .back-bttn {
        position: absolute;
        top: 40;
        left: 0;
        z-index: 1;
      }
      .back-bttn input {
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 0px 10px white;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        border: none;
        height: 25px;
        width: 100px;
        transition: all 0.05s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .back-bttn input:hover {
        font-weight: 800;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body class="joke-body">
    <%- include('partials/header.ejs') %>
    <form class="back-bttn" action="/" method="GET">
      <input type="submit" value="â† Go Back" />
    </form>
    <!---->
    <!---->
    <div class="jokes-container">
      <% if (locals.jokes){ %>
      <!---->
      <% jokes.forEach((joke, index) => { %>
      <div class="joke-container">
        <% if(joke.joke !== undefined){%>
        <span class="joke-title-text jk-j-c-<%= index%>"
          >ðŸ“”<%= joke.category %>ðŸ“”</span
        >
        <div class="joke-text joke-t jk-j-<%= index%>"><%=joke.joke%></div>
        <%} else {%>
        <span class="joke-title-text jk-sd-c-<%= index%>"
          >ðŸ“”<%= joke.category %>ðŸ“”</span
        >
        <div class="joke-text joke-t jk-s-<%= index%>"><%=joke.setup%></div>
        <div class="joke-line"></div>
        <div class="joke-text jk-d-<%= index%>"><%=joke.delivery%></div>
        <%}%>
        <div
          data-index="<%= index %>"
          class="joke-save-bttn joke-save-bttn-<%= index%>"
        >
          Save
        </div>
        <div class="joke-saved-hidden-<%= index %> joke-saved-hidden">
          Joke Saved
        </div>
      </div>
      <%})}%>
      <!---->
      <!---->
      <div class="joke-generator-container-wrap">
        <div class="joke-generator-container">
          <form action="/random-joke" method="POST">
            <h2>Select categories</h2>
            <div class="joke-row">
              <h3>Pun</h3>
              <input
                class="joke-input-style"
                type="checkbox"
                name="options"
                value="Pun"
              />
            </div>
            <div class="joke-row">
              <h3>Christmas</h3>
              <input
                class="joke-input-style"
                type="checkbox"
                name="options"
                value="Christmas"
              />
            </div>
            <div class="joke-row">
              <h3>Dark</h3>
              <input
                class="joke-input-style"
                type="checkbox"
                name="options"
                value="Dark"
              />
            </div>
            <div class="joke-row">
              <h3>Spooky</h3>
              <input
                class="joke-input-style"
                type="checkbox"
                name="options"
                value="Spooky"
              />
            </div>
            <div class="joke-submit">
              <select class="joke-select" name="amount">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <input
                value="Generate joke :D"
                class="generate-joke-bttn"
                type="submit"
              />
            </div>
          </form>
          <div id="view-jokes">View Your Jokes</div>
        </div>
      </div>
      <!---->
      <!---->
    </div>
    <script>
      $(document).ready(() => {
        let savedJokes = JSON.parse(localStorage.getItem("savedJ")) || [];

        $(".joke-save-bttn").click(function () {
          let sameJoke = false;
          const index = $(this).data("index");
          $(`.joke-saved-hidden-${index}`).fadeIn(500).fadeOut(500);

          // Collecting data
          const jokeCat = $(`.jk-sd-c-${index}`).text();
          const jokeS = $(`.jk-s-${index}`).text();
          const jokeD = $(`.jk-d-${index}`).text();
          // Collecting data 2
          const jokeCat2 = $(`.jk-j-c-${index}`).text();
          const jokeJ = $(`.jk-j-${index}`).text();

          let savedJoke = {};

          if (jokeCat === "") {
            savedJoke = { category: jokeCat2, joke: jokeJ };
          } else if (jokeCat2 === "") {
            savedJoke = {
              category: jokeCat,
              setup: jokeS,
              delivery: jokeD,
            };
          }

          // Check for duplicates
          if (savedJokes.length === 0) {
            savedJokes.push(savedJoke);
          } else {
            savedJokes.forEach((joke) => {
              if (joke.joke && savedJoke.joke) {
                if (joke.joke === savedJoke.joke) {
                  sameJoke = true;
                }
              } else if (
                joke.setup &&
                savedJoke.setup &&
                joke.delivery &&
                savedJoke.delivery
              ) {
                if (
                  joke.setup === savedJoke.setup &&
                  joke.delivery === savedJoke.delivery
                ) {
                  sameJoke = true;
                }
              }
            });
            if (!sameJoke) {
              savedJokes.push(savedJoke);
            }
          }
          localStorage.setItem("savedJ", JSON.stringify(savedJokes));
        });
        $("#view-jokes").click(async () => {
          try {
            const response = await fetch("/viewSavedJokes", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ savedJokes: savedJokes }),
            });
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            window.location.href = "/savedJokes";
          } catch (error) {
            console.error("Error:", error);
          }
        });
      });
    </script>
  </body>
</html>
