<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body class="joke-body">
    <%- include('partials/header.ejs') %>
    <form class="fixed-anime" action="/" method="GET">
      <input type="submit" value="â¬…ï¸ Go Back" />
    </form>
    <!---->
    <!---->
    <div class="jokes-container">
      <% if (locals.jokes){ %>
      <!---->
      <% jokes.forEach((joke, index) => { %>
      <div class="joke-container">
        <% if(joke.joke !== undefined){%>
        <span class="joke-title-text">ðŸ“”<%= joke.category %>ðŸ“”</span>
        <div class="joke-text"><%=joke.joke%></div>
        <%} else {%>
        <span class="joke-title-text">ðŸ“”<%= joke.category %>ðŸ“”</span>
        <div class="joke-text"><%=joke.setup%></div>
        <div class="joke-text"><%=joke.delivery%></div>
        <%}%>
      </div>
      <%})}%>
      <!---->
      <!---->
      <div class="joke-generator-container-wrap">
        <div class="joke-generator-container">
          <form action="/random-joke" method="POST">
            <h2>Select categories</h2>
            <div class="joke-row">
              <h3>Pun</h3>
              <input
                class="joke-input-style"
                type="checkbox"
                name="options"
                value="Pun"
              />
            </div>
            <div class="joke-row">
              <h3>Christmas</h3>
              <input
                class="joke-input-style"
                type="checkbox"
                name="options"
                value="Christmas"
              />
            </div>
            <div class="joke-row">
              <h3>Dark</h3>
              <input
                class="joke-input-style"
                type="checkbox"
                name="options"
                value="Dark"
              />
            </div>
            <div class="joke-row">
              <h3>Spooky</h3>
              <input
                class="joke-input-style"
                type="checkbox"
                name="options"
                value="Spooky"
              />
            </div>
            <div class="joke-submit">
              <select class="joke-select" name="amount">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
              <input
                value="Generate joke :D"
                class="generate-joke-bttn"
                type="submit"
              />
            </div>
          </form>
        </div>
      </div>
      <!---->
      <!---->
    </div>
    <!---->
    <!---->
  </body>
</html>
